/*Background Color */
body {
    background-color: #222;
}
.centering{
    background-color: black;
    color: white;
    text-align: center;
    padding: 2rem;
}

/*Headline */
h1 {
    color: red;
}
h2 {
    color: #fcfcfc;
    font-size: 18px;
    width: 80ch;
    word-break: break-word;
    margin-left: auto;
    margin-right: auto;
}
ul>li {
    color: #fcfcfc;
    font-size: 24px;
    width: 100ch;
    word-break: break-word;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
pre {
    color: #fcfcfc;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

/* Container for vertical images */
.right-img-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 1000;
  gap: 16px;
}
/*Images */
.img-roadmap {
  display: block;
  margin-right: 16px;
  width: 400px;
  height: auto;
}
.img-githubLogo {
  display: block;
  margin-right: 16px;
  width: 120px;
  height: auto;
}
.img-githubLogoSorter {
  display: block;
  width: 120px;
  height: auto;
  margin-left: auto;
}


/* Dropdown container */
.dropdown {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 999L;
}

/* Dropdown button */
.dropbtn {
  background-color: #222;
  color: white;
  padding: 12px 24px;
  font-size: 32px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Dropdown content box */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #111;
  min-width: 180px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
  z-index: 1;
  margin-top: 8px;
  text-align: left;
}

/* Show the dropdown */
.dropdown-content.show {
  display: block;
}

/* Dropdown buttons */
.dropdown-content button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 12px 20px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 24px;
}

.dropdown-content button:hover {
  background-color: #333;
}
/* Submenu */
.submenu {
  position: relative
}
.submenu-content {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #111;
  min-width: 180px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}
.submenu-content.show {
  display: block;
}
